standardCode/src/web相关/day00_XML和dom4j/demo3_schema/book.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema 
xmlns="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.itheima.com/ee23" 
elementFormDefault="qualified">
	<element name="books">
		<complexType>
			<sequence maxOccurs="2" minOccurs="2">
				<element name="book">
					<complexType>
						<sequence>
								<element name="name" type="string"></element>
								<element name="author" type="string"></element>
								<element name="price" type="double"></element>
						</sequence>
						<attribute name="bid" type="int" use="optional"/>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>